body {
  color: var(--SLATE, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #fff;
}
:root {
}

.web {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  line-height: 1.17;
  text-decoration: none;
}
.studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  line-height: 1.17;
  text-decoration: none;
}
.link:hover {
  background: var(--OCEAN, #404bbf);
}

.address {
  color: var(--SLATE, #434455);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.titleone {
  font-family: "Roboto";
  font-size: 56px;
  text-decoration: none;
}
.titletwo {
  font-family: "Roboto";
  font-size: 36px;
  text-decoration: none;
}

.titlethree {
  font-family: "Roboto";
  font-size: 20px;
  text-decoration: none;
}
.titlefour {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--NAVY-BLUE, #2e2f42);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02px;
  text-decoration: none;
}
.button1 {
  background: var(--IRIS, #4d5ae5);

  color: var(--WHITE, #fff);
  /* Button Text */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.button-list {
  list-style: none;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
  color: var(--IRIS, #4d5ae5);
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5px;
  letter-spacing: 0.04px;
}
.button-list:hover {
  background: var(--OCEAN, #404bbf);
}
.text-footer {
  color: var(--CLOUD, #f4f4fd);
  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.box1 {
  background: var(--NAVY-BLUE, #2e2f42);
}
.list-class {
  list-style: none;
}

.link {
  text-decoration: none;
}

.footer {
  background-color: #2e2f42;
}

.span {
  color: #f4f4fd;
}
